.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  background-color: #96a575;
  color: white;
  vertical-align: middle;
  padding-top: 8px;
  height: 50px;
  width: 100%;
}

.btn-info,
.btn-info:hover,
.btn-info:active,
.btn-info:visited {
  background-color: #96a575 !important;
}

.correct,
.pronom-highlight {
  color: green;
  font-weight: bold;
}

.wrong {
  color: red;
  font-weight: bold;
}

.show-meaning {
  color: gray;
}

.max-question-select {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
}

.content-container {
  margin-top: 100px;
}

.temp-list {
  padding-left: 45px;
  text-align: left;
}

.main-start-button {
  width: 60%;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.correct-icon,
.wrong-icon {
  width: 20px;
  height: 20px;
}
